<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asksunny.demo.persistence.Users3Mapper">

    <select id="getAllUsers3" resultType="Users3">
    SELECT user_id AS userId, first_name AS firstName, last_name AS lastName, password AS password FROM users3
    </select>

    <insert id="insertUsers3" parameterType="Users3">
    INSERT INTO users3 (user_id, first_name, last_name, password)  VALUES ( ${userId}, ${firstName}, ${lastName}, ${password}) 
    </insert>

    <update id="updateUsers3" parameterType="Users3">
    UPATE users3 SET user_id=${userId}, first_name=${firstName}, last_name=${lastName}, password=${password}   WHERE user_id=${userId} AND first_name=${firstName} AND last_name=${lastName} AND password=${password}
    </update>

    <delete id="deleteUsers3" parameterType="Users3">
    DELETE FROM  users3 WHERE user_id=${userId} AND first_name=${firstName} AND last_name=${lastName} AND password=${password}
    </delete>

    <select id="getUsers3Bykey" parameterType="Users3" resultType="Users3">
    SELECT user_id AS userId, first_name AS firstName, last_name AS lastName, password AS password FROM users3 WHERE user_id=${userId} AND first_name=${firstName} AND last_name=${lastName} AND password=${password}
    </select>

<mapper>